extends layout

block content
    div.twelve.columns.flex-center
        img(src='/img/bar.jpg')
    h4.flex-start
        strong Nightlight
        |  is a web application that allows you to scope out all the hotspots around town. You and your friends can login to +1 them and gauge group interest. 
    h4 Light it up!
