extends layout

block content
    .flex-center-mod
        .center
            include logo
        form(action='/login' method='post').slim-column
            label Username
            input(type='text' name='username' required)
            label Password
            input(type='password' name='password' required)
            button.button Go!
        if message.length > 0
            .alert Error:  
                =message
                span &times;
    script.
        $('span').click(() => {
            $('.alert').fadeOut('fast');
        });
